/*Bandeau */
.img-head {
    background-image: url("../img/head.png");
    width:100%;
    height: auto;
}

.div-brightness {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
}
.titre {
    display: inline-block;
    text-align: center;
    color: white;
    float: none;
    margin: 0 auto;
    font-size: 30px;
}

.titreHead {
    font-size:50px;
    padding:15px;
    border: 1px solid white;
    line-height: 20px;
    font-family: PtSansNarrowBold;
}

.nom {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    word-spacing: 10px;
    display: inline-block;
    text-align: center;
}

/*Général*/
article {
    margin-top:30px;
}

.container-fluid {
    font-family: 'PtSansNarrow',sans-serif;
}

@font-face {
    font-family: PtSansNarrow;
    src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

@font-face {
    font-family: PtSansNarrowBold;
    src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}

.titreCategorie {
    border: 1px solid black;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin: 0 auto 40px;
    font-family: PtSansNarrowBold;
    display: inline-block;
    min-width: 250px;
}

.titreCategorie legend {
    font-size: 15px;
}

p {
    line-height: 30px;
}

/*Profil */
.photoId {
    text-align: center;
}
.photoId img{
    border-radius: 15px;
    max-width: 250px;
    height: auto;
}

.listProfil {
    list-style:none;
}

.listProfil li {
    line-height: 40px;
    border-bottom: 1px solid darkgrey;

}

/*Formation et parcours */
.listeFormation {
    list-style: none;
}

.formationSec {
    border-right: 1px solid darkgray;
}

.tableFormationAnnee {
    border-bottom: 1px solid darkgrey;
}

.tableFormationAnneeUp {
    font-size: 9px;
}

.tableFormationAnneeDown {
    font-size:25px;
    font-weight: bold;
}

.listeFormation h4 {
    font-weight: bolder;
}

.listeFormation ul {
    list-style: none;
    font-size: 12px;
}

/*Compétences */
.progress-fieldset {
    border: 1px solid black;
    padding-right:30px;
}

.progress-fieldset legend {
    border: none;
}

.progress-list {
    list-style: none;
}

.progress-list-langue {
    list-style: none;
    max-width:250px;
}

.progress {
    background-color: grey;
    height: 15px;
}

.progress-bar {
    background-color:black;
    font-size:10px;
    vertical-align: middle;
}

.listeConnaissances {
    line-height: 30px;
    list-style-image: url("../img/check.png");
}

.table-autre {
    width: 100%;
}

/*PortFolio */

.liste-portfolio {
    margin-left : 30px;
    margin-right: 30px;
    list-style: none;
    display: block;
}

.liste-portfolio li {
    display: inline;
    margin : 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.card img {
    max-width:200px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
    padding: 2px 16px;
}

/*Hobbies */
.liste-hobbies {
    list-style: none;
    display: block;
}

.liste-hobbies li {
    display: inline;
    margin-left: 15px;
    margin-right:15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdiv {
    text-align: center;
    padding-top:50px;
    font-size: 16px;
    cursor: pointer;
}
.dropdiv img {
    width:64px;
    height: 64px;
    padding: 15px;
    border: 1px solid black;
}

.dropdiv p {
    margin-top : 30px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content:hover {
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    text-align: center;
    padding : 10px;
    border : 2px solid black;
    opacity : 0.5;
    background-color: black;
    color: white;
    display: inline;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*footer*/
footer {
    background-image: url("../img/footer.png");
    color:ghostwhite;
}

.center-text {
    text-align: center;
}

.titre-footer {
    border: 1px solid white;
    text-align: center;
    position:relative;
    margin: 50px auto auto;
    width: auto;
    display: inline-block;
    padding: 20px;
}

.copyright {
    text-align: center;
}

.list-phone {
    list-style-image: url("../img/phone.png");
}

.list-mail {
    list-style-image: url("../img/mail.png");
}

.list-home {
    list-style-image: url("../img/home.png");
}

.list-network {
    list-style: none;
    display: block;
    padding:0px;
}

.list-network li {
    display: inline;
    margin:3px;
}



@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}